@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bun venit!</h1>
    <h1 class="display-4">Proiect Medii de programare</h1>
    <h1 class="display-4">Bodea Denis-Gabriel</h1>

</div>
